In [192]:
import pandas as pd
from SQL import create_db_connection, execute_query
import matplotlib.pyplot as plt
import h5py
import datetime
import numpy as np

In [193]:
#user_info
pw = "p0larizati0n"
user = "root"
db = "IRCSP"

In [194]:
#connect to IRCSP database
connection = create_db_connection("localhost", user, pw, db)

MySQL Database connection successful

In [229]:
df = pd.read_csv("/Users/kirahart/Dropbox/telemetry.csv")
df_time = pd.read_csv("/Users/kirahart/Dropbox/tele_time.csv",header = None)
df

,time,acceleration,t_sbc,t_ircsp,humidity,pressure,voltage,cam1_t,cam2_t
0,1627078722,0.975586,1,22.31,20.99,876.19,4.65298,26.9,26.8
1,1627078735,0.967285,1,22.33,20.93,876.16,4.68231,26.9,26.8
2,1627078748,0.969727,1,22.31,20.90,876.16,4.70186,26.9,26.8
3,1627078763,0.973633,1,22.29,20.85,876.18,4.71163,26.9,26.8
4,1627078781,0.970703,1,22.27,20.82,876.22,4.70674,30.3,30.2
...,...,...,...,...,...,...,...,...,...
2086,1627092532,0.960938,1,39.22,11.11,8.67,5.00000,55.8,56.9
2087,1627092544,0.951172,1,39.25,11.08,8.63,5.00000,55.8,56.9
2088,1627092556,0.961914,1,39.26,11.06,8.63,5.00000,55.9,56.9
2089,1627092568,0.958008,1,39.28,11.03,8.66,5.00000,55.9,56.9
2090,1627092579,0.955566,1,39.30,11.01,8.64,5.00000,55.9,57.0

In [219]:
time = [];
for i in range(len(df_time)):
    t0 = datetime.datetime(2021,8,30,10,40,0)
    delta = datetime.timedelta(seconds = df_time[0][i]*60)
    t = t0+delta
    time.append(t.strftime('%Y-%m-%d %H:%M:%S'))

In [236]:
def make_telem_str(dataframe,index):
    string = '(' + str(index) + ', '
    string += str(dataframe["t_ircsp"][index])+ ', '
    string += str(dataframe["cam1_t"][index])+ ', '
    string += str(dataframe["cam2_t"][index])+ ', '
    string += str(dataframe["pressure"][index])+ ', '
    string += 'NULL,  '
    string += str(dataframe["time"][index])+ ', '
    string += "'"+time[index] +  "'"+ ', '
    string += str(dataframe["humidity"][index])+ ', '
    string += str(dataframe["acceleration"][index])+ '),'
    return(string)

In [237]:
def create_telem_query(dataframe):
    string = "INSERT INTO log VALUES";
    for index in range(len(dataframe)):
        string += make_telem_str(dataframe,index)
    string = string[:-1] + ';'
    return(string)

In [238]:
query = create_telem_query(df)
execute_query(connection, query)

Query successful

In [235]:
make_telem_str(df,0)

'(0, 22.31, 26.9, 26.8, 876.19, NULL,  1627078722, 2021-08-30 10:40:13, 20.99, 0.975586),'